.dashboard{
    font-family: Montserrat;
    height: 100%;
    letter-spacing: 1px;
    position: relative;
    .dash-nav{
        padding: 1rem;
        background-color: #E8B987;
        font-size: 2rem;
    }
}