.createPerson{
    background: #FFD09E;
    height: 100%;
    font-family: bebas;
    letter-spacing: 1px;
    overflow: hidden;

    span{
        background-color: #E8B987;
        padding: 1rem;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, 0);
        font-size: 2rem;
        border: solid 3.5px;

        z-index: 1000;
        pointer-events: none;
        user-select: none;
        transition: opacity .5s ease-in-out;
        @media screen and (max-width: 900px){
            font-size: 1.5rem;
            padding: .5rem;
        }
    }
    main{
        text-align: center;
        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;

        .person-box{
            padding: 1rem;
            padding-top: 0;
            margin-top: 0;
            position: fixed;
            top: 0;
            width: 100%;
            header{
                padding: 1.25rem;
                h1{
                    font-size: 2rem;
                    letter-spacing: .15rem;
                    
                    user-select: none;
                }
            }
            .person-info-form{
                background-color: white;
                display: flex;
                flex-direction: column;
                padding: 1.75rem;
                padding-top: 0;

                justify-content: center;
                height: 100%;
                align-items: center;
                box-shadow: 5px 5px 0px 0px black;
                border: solid black 3px;
                border-radius: 1rem;

                .inputField{
                    width: 100%;
                    label{
                        margin-right: auto;
                        display: flex;
                        margin-top: 1rem;
                        font-size: 1.25rem;
                    }
                    input{
                        width: 100%;
                        box-shadow: 1px 1px 0px 0px black;
                        border: solid black 3px;
                        border-radius: .5rem;
                        padding: .5rem;
                    }
                    
                    input[type=submit]{
                        width: 60%;
                        margin-top: 1rem;
                        margin-bottom: 1rem;

                        box-shadow: 2px 2px 0px 0px black;
                        border: solid black 3px;
                        background-color: #5ed6cd;;
                        border-radius: 1.5rem;
                        padding: .5rem;
                        font-size: 1rem;
                        font-family: Montserrat;
                        font-weight: bold;
                        font-style: italic;
                        width: 90%;

                        color: black;

                        cursor: pointer;

                        &:active{
                            box-shadow: none;
                            transform: translateX(5px);
                            transform: translateY(5px);
                        }
                    }
                    .return-to-dashboard{                
                        background-color: #E8B987;
                        padding: .5rem;
                        box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
                        border: solid;
                        border-color: black;
                        border-radius: 15px;
                        border-width: 3px;
                        cursor: pointer;

                        color: black;
                        font-size: 1rem;
                        font-family: Montserrat;
                        font-weight: bold;
                        font-style: italic;
                        width: 90%;
                        text-align: center;
                        &:active{
                            box-shadow: none;
                            transform: translateX(5px);
                            transform: translateY(5px);
                        }

                    }
                    span{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 700px){
    .createPerson{
        main{
            display: flex;
            justify-content: center;
            .person-box{
                width: 50%;
            }
        }
    }
}