.createPerson{
    background: #FFD09E;
    min-height: 100vh;
    font-family: bebas;
    letter-spacing: 1px;
    overflow: auto;
    padding: 0;
    svg{
        z-index: 0;
    }
    span{
        background-color: #E8B987;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, 0);
        font-size: 2rem;
        border: solid 3.5px;

        
        pointer-events: none;
        user-select: none;
        transition: opacity .25s ease-in-out;
        @media screen and (max-width: 900px){
            font-size: 1.5rem;
            padding: .5rem;
        }
    }
    main{
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 2;

        .person-box{
            // padding: 0 7.5%;
            width: 100%;
            z-index: 1000;
            @media screen and (max-width: 700px){
                padding: 1rem;
            }
            header{
                padding:1rem;
                h1{
                    font-size: 2rem;
                    letter-spacing: .15rem;
                    
                    user-select: none;
                    @media screen and (min-width:700px){
                        font-size: 3rem;
                        letter-spacing: .25rem;
                        padding: 2rem;
                    }
                }
            }
            .person-info-form{
                background-color: white;
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                padding: 1.75rem;
                padding-top: 0;
                z-index: 100000;

                justify-content: center;
                height: 100%;
                width: 100%;
                align-items: center;
                box-shadow: 5px 5px 0px 0px black;
                border: solid black 3px;
                border-radius: 1rem;

                .inputField{
                    padding-top: .5rem;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    .inputLabel{
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        padding: 0rem 1rem;
                        gap: .25rem;

                        @media screen and (max-width: 700px){
                            width: 50%;
                            padding: 0rem .5rem;
                        }
                        input{
                            width: 100%;

                            box-shadow: 1px 1px 0px 0px black;
                            border: solid black 3px;
                            border-radius: .5rem;
                            padding: .3rem;
                            font-size: 1.15rem;
                            @media screen and (max-width: 700px){
                                font-size: 1rem;
                            }
                        }
                        label{
                            margin-right: auto;
                            display: flex;
                            margin-top: .5rem;
                            font-size: 1,25rem;
                            @media screen and (min-width: 700px){
                                font-size: 1.5rem;
                                margin-top: 1rem;
                            }
                        }
                    }
             
                    // PUT LABEL AND INPUT IN ITS OWN CONTAINERS
   
                    
                    .submitReturn{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        input[type=submit]{
                            width: 100%;
                            @media screen and (min-width: 700px){
                                width: 75%;
                            }
                            margin-top: 1rem;
                            margin-bottom: 1rem;
    
                            box-shadow: 2px 2px 0px 0px black;
                            border: solid black 3px;
                            background-color: #5ed6cd;
                            border-radius: 1.5rem;
                            padding: .5rem;
                            font-size: 1rem;
                            font-family: Montserrat;
                            font-weight: bold;
                            font-style: italic;
    
                            color: black;
    
                            cursor: pointer;
    
                            &:active{
                                box-shadow: none;
                                transform: translateX(5px);
                                transform: translateY(5px);
                            }
                        }
                        .return-to-dashboard{                
                            background-color: #E8B987;
                            width: 100%;
                            padding: .5rem;
                            box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
                            border: solid;
                            border-color: black;
                            border-radius: 15px;
                            border-width: 3px;
                            cursor: pointer;
    
                            color: black;
                            font-size: 1rem;
                            font-family: Montserrat;
                            font-weight: bold;
                            font-style: italic;
                            text-align: center;
                            width: 100%;
                            &:active{
                                box-shadow: none;
                                transform: translateX(5px);
                                transform: translateY(5px);
                            }
    
                        }
                    }
                    span{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 700px){
    .createPerson{
        main{
            display: flex;
            justify-content: center;
            .person-box{
                width: 50%;
            }
        }
    }
}