@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather+Sans:ital,wght@1,300&family=Montserrat:wght@300&display=swap');
* {
	margin: 0;
	padding: 0;
}
body{
  height:100vh
}
#root{
  height:100vh;
}
.app{
  height: 100vh;
}
/* //////////////////////////// */
/* W E L C O M E   P A G E   C O M P O N E N T */
/* //////////////////////////// */
.welcomePage{
  background-color: black;
  height: 100vh;
}
/* transition for fading in */
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }

}
.quote{
  animation: transitionIn 6s;
  color:white;
  position: absolute;
  top: 10%;
  padding: 0 20% 0 20%;
  font-family: Merriweather, sans-serif;
  line-height: 1.3em;
  font-size: 250%;
  width: 60%;
}

.accountInfo{
  color: white;
  font-family: Merriweather, sans-serif;
  font-weight: 1;
  cursor: pointer;
}
/* this will be an underline animation */
.accountInfo::after{
  content:'';
  height: 2px;
  width: 0%;
  background-color: white;
  display: block;
  transition: .2s ease-in-out;
}
.accountInfo:hover::after{
  content:'';
  height: 2px;
  width: 100%;
  background-color: white;
  display: block;
}

.login{
  animation: transitionIn 7s;
  display: flex;
  justify-content: space-between;
  width: 60%;
  position:absolute;
  bottom: 20%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
}
/* ////////////////////////////// */
/*S I G N     U P    C O M P O N E N T
/* ////////////////////////////// */
.signUp{
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}
.signUp .leftSideBar{
  grid-column-start: 1/2;
  background-color: #060606;
}
.signUp .rightSideBar{
  grid-column-start: 3/4;
  background-color: #060606;
}
.signUp .title{
  color: #F2F2F2;
  font-family: Monsterrat, sans-serif;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 5%;
  cursor: pointer;
  margin-bottom: 5%;

}
.signUp .signUpBox{
  background-color: white;
  width:50%;
  height:65%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: .3em;
  display: flex;
  flex-direction: column;
}
.signUp .box-title{
  font-weight: 400;
  text-align: center;
  padding-top: 5%;

}

.signUp .signup-form label{
  display: flex;
  margin-top: 7%;
  font-size: 1.25rem;
  font-weight: 275;
}
.signUp .signup-form{
  margin-left: auto;
  margin-right: auto;
}
.signUp .signup-form input{
  width: 98%;
  padding: 7px;
  box-sizing: border-box;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;

}
.signUp input[type="button"]{
  margin-top:10%;
  height: 2rem;
  background-color: #49c1a2;
  color:white;
  font-size: 1.2rem;
  border: none;
}
.signUp .signUpBox p{
  text-align: center;
  padding-top: 1.75rem;
  padding-bottom: 1rem;
}
/* ///////////////////// */
/* L O G I N    C O M P O N E N T */
/* ///////////////////// */
.loginDiv{
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}
.loginDiv .title{
  color: #F2F2F2;
  font-family: Monsterrat, sans-serif;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 5%;
  cursor: pointer;
}
.loginDiv .leftSideBar{
  grid-column-start: 1/2;
  background-color: #060606; 
}
.loginDiv .rightSideBar{
  grid-column-start: 1/2;
  background-color: #060606; 
}
.login-form{
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.login-box{
  background-color: white;
  width:55%;
  height:40%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: .3em;
  display: flex;
  flex-direction: column;
}
.login-box label{
  display: flex;
  margin-top: 7%;
  font-size: 1.25rem;
  font-weight: 275;
}
.box-title{
  font-weight: 400;
  text-align: center;
  padding-top: 5%;
}
.login-form input{
  width: 98%;
  padding: 7px;
  box-sizing: border-box;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
.login-box input[type="button"]{
  margin-top:10%;
  height: 2rem;
  background-color: #49c1a2;
  color:white;
  font-size: 1.2rem;
  border: none;
}

/* //////////////////// */
/* D A S H B O A R D    C O M P O N E N E N T */
/* //////////////////// */
.dashboard{
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}
.dashboard .leftSidebar{
  grid-column-start: 1/2;
  background-color: #060606; 
}
.dashboard .rightSidebar{
  grid-column-start: 1/2;
  background-color: #060606; 
}
.dash-nav{
  background-color: #F2F2F2;
  height: 10%;
  display: flex;
  align-items: center;
}
.dash-nav h1{
  margin-left: 5%;
  font-size: 2.25rem;
}
.div-button{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  
}
.div-button button{
  width: fit-content;
  block-size: fit-content;
  font-size: 1em;
  position: absolute;
  padding: .5em;
  cursor: pointer;
}
/* peoplesCards */
.peopleCards{
  background-color: white;
  margin: 10%;
}

/* ////////////////////////// */
/* C R E A T E   P E R S O N   C O M P O N E N T  */
/* ////////////////////////// */
.create-person-div{
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr; 
}

.create-person-div .leftSideBar{
  grid-column-start: 1/2;
  background-color: #060606; 
}
.create-person-div .rightSideBar{
  grid-column-start: 1/2;
  background-color: #060606; 
}
.person-box{
  background-color: #F2F2F2;
  width: 35%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box ;
  padding: 5%;
}
.person-box label{
  display: flex;
  display: flex;
  margin-top: 7%;
  font-size: 1.25rem;
  font-weight: 275;
}
.person-box input{
  width: 98%;
  padding: 7px;
  box-sizing: border-box;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
.person-box input[type="submit"]{
  margin-top:10%;
  height: 2rem;
  background-color: #49c1a2;
  color:white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}
.person-box .box-title{
  margin: 0;
  padding: 0;
}